
body{

	font-family:Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
}

table {
	border: solid 2px orange;
	border-collapse: collapse;
	border-radius: 5px;
	margin: 15px;
	
}
tbody tr{
	border-radius: 5px;
}
th {
	background-color: orange;
	border-radius: 5px;
	padding: 5px;
	text-align: left;
	color: white;
	margin: 15px;

}
td {
	padding: 10px;


}
h1{
	width: 100vw;
	height: 150px;
	padding: 25px;
	text-align: center;
	background-color: rgba(255, 125,0, 0.5);
}
.row{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.bin{
	color: red;
}
#addpage{
	position: fixed;
	bottom: 25px;
	right: 25px;
}

#homepage{
	position: fixed;
	bottom: 150px;
	right: 25px;
}


.cercle{
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	color: orange;
	background-color: rgba(255, 165, 0, 0.5);
	border: solid 2px;
	border-radius: 50%;
	align-content: center;
}
.cercle a{
	width: 100%;
	height: 100px;
	width: 100px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	color: black;
}

section{
	background-color: rgba(255, 165, 0, 0.5);
	padding: 35px;
	border-radius:25px ;
	display: flex;
	flex-direction: column-reverse;
	border: dotted 5px orange;
}





/*--------CheckBox--------------*/

:root {
	--form-control-color: rebeccapurple;
	--form-control-disabled: #959495;
}

*,
*:before,
*:after {
box-sizing: border-box;
}

.right{
	right: 5px;
}


input[type="checkbox"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: var(--form-background);
	/* Not removed via appearance */
	margin: 0 15px 0 0;
  
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
  
	display: grid;
	place-content: center;
  }
  
  input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
	transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
  }
  
  input[type="checkbox"]:disabled {
	--form-control-color: var(--form-control-disabled);
  
	color: var(--form-control-disabled);
	cursor: not-allowed;
  }

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 11px;
  font-weight: 800;
  line-height: 16px;
  min-height: 20px;
  outline: 0;
  margin: 0 0 0 15px;
  padding: 5px 9px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}